body {
    display: flex;
    flex-direction: column;
    font-style: "roboto", sans-serif;
}
a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
.header {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 16px 200px;
    gap: 16px;
}
.leftthings{
    display: flex;
}
.headerlogo {
    font-size: 24px;
}
.headerlinks{
    display: flex;
    gap: 16px;
}